doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', crossorigin='anonymous')
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='/socket.io/socket.io.js')
        title Click Game
    body
        // modal
        #exampleModalCenter.modal.fade(data-backdrop='static', data-keyboard='false', tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true', style='margin-top:-200px')
            .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header.text-center
                        h1.modal-title  🄲🄻🄸🄲🄺 🅃🄾 🅆🄸🄽
                    .modal-body
                        .join
                            h5.text-info.display-4(style='font-size:25px;') Join Room
                            p For play, join game.
                            form.mt-3.form-inline(onsubmit='return false;')
                                .form-group(style='width:73%')
                                    input#roomname.form-control(type='text', style='width:100%', placeholder='your room code')
                                button.joinRoom.btn.btn-success.ml-3.float-right(type='button', data-dismiss='modal') Join Room
                            .modal-footer.text-center
                                button#createRoom.btn.btn-block.btn-warning.mt-3.text-white
                                    | Create Room
                                    span.glyphicon.glyphicon-cog
                        .create(style='display:none')
                            h5.text-info.display-4(style='font-size:25px;') Create Room
                            p For play, firstly create game.
                            form.mt-3.form-inline(onsubmit='return false;')
                                .form-group(style='width:58%')
                                    input#roomnamec.form-control(type='text', style='width:100%', placeholder='your room code')
                                button#createNewRoom.btn.btn-success.ml-3.mr-2.float-right(type='button', data-dismiss='modal', data-toggle='modal', data-target='#exampleModalLongTitle') Create Room
                                a#config.btn.btn-dark.text-white
                                    i.fas.fa-cogs
                                .configs
                                    hr
                                    .input-group
                                        .input-group-prepend
                                            .input-group-text.bg-warning.text-white Game Range (Default = 50)
                                        input.rangeConfig.form-control(type='text', value="50", placeholder='like 30,40 any number for range')
                                    .input-group.mt-3
                                        .input-group-prepend
                                            .input-group-text.bg-warning.text-white Game Speed (Default = 1)
                                        input.speedConfig.form-control(type='text',value="1", placeholder='like 2,3,4 small numbers')
                            .modal-footer
                                button#joinRoom.btn.btn-block.btn-danger.mt-3.text-white Join Room
        #exampleModalLong.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLongTitle.modal-title Waiting Your Enemy...
                    .modal-body.text-center
                        img(src='/images/loading.gif')

        h1.text-center.text-white(style='margin-top:140px') 🄲🄻🄸🄲🄺 🅃🄾 🅆🄸🄽
        .container
            .row
                .col-md-6.text-center
                    h2.player-name.float-right.mr-5 Player 1
                    br
                    br
                    .counter.counter1.text-center.float-right
                        h3.count.count1 0
                .col-md-6.text-center
                    span.text-white.h4(style='text-shadow: 1px 1px;border-bottom: 1px solid white;') Room Name
                    br
                    h5.text-white.nameOfRoom
                    hr
                    span.text-white.h4(style='text-shadow: 1px 1px;border-bottom: 1px solid white;') Enemy Click Count:
                    br
                    h5.count2.text-white 0
                    hr
                    span.text-white.h4(style='text-shadow: 1px 1px;border-bottom: 1px solid white;') Connected User Count
                    br
                    h5.text-white.countOfRoom
                    hr
                    span.text-white.h4(style='text-shadow: 1px 1px;border-bottom: 1px solid white;') Range
                    h5.text-white.rangeCount
                    hr
                    span.text-white.h4(style='text-shadow: 1px 1px;border-bottom: 1px solid white;') Speed
                    h5.text-white.speedCount
        // Optional JavaScript
        // jQuery first, then Popper.js, then Bootstrap JS
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js', integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js', integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm', crossorigin='anonymous')
        script(src='javascripts/main.js')
        script(defer='', src='https://use.fontawesome.com/releases/v5.0.10/js/all.js', integrity='sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+', crossorigin='anonymous')
